<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="Autofac.Wcf" version="3.0.0" targetFramework="net40" />
  <package id="EntityModel" version="1.5.5.16" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.1001" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="PersistentLayer" version="5.3.4.12" targetFramework="net40" />
  <package id="PersistentLayer.NHibernate" version="2.4.12.30" targetFramework="net40" />
  <package id="WcfConfigExtensions" version="1.0.0.10" targetFramework="net40" />
  <package id="WcfJsonFormatter" version="1.1.2.10" targetFramework="net40" />
  <package id="WcfJsonNetFormatter" version="1.0.0.5" targetFramework="net40" />
</packages>