<?xml version="1.0"?>
<configuration>
    
    <configSections>
        <section name="serviceTypeRegister" type="WcfJsonFormatter.Configuration.ServiceTypeRegister, WcfJsonFormatter" />
    </configSections>

    <serviceTypeRegister>
        <serviceTypes>
            <!--<serviceType name="PersistentLayer.Domain.CarContract" assembly="PersistentLayer.Domain" />
            <serviceType name="PersistentLayer.Domain.HomeContract" assembly="PersistentLayer.Domain" />-->
            <serviceType name="*" assembly="PersistentLayer.Domain" />
            <serviceType name="*" assembly="Iesi.Collections" />
        </serviceTypes>
        <resolverTypes>
            <resolverType>
                <serviceType name="Iesi.Collections.Generic.ISet`1" assembly="Iesi.Collections" />
                <binderType name="Iesi.Collections.Generic.HashedSet`1" assembly="Iesi.Collections" />
            </resolverType>
        </resolverTypes>
    </serviceTypeRegister>
    
  <connectionStrings>
    <add name="DatabaseConnection"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename={0}SalesArea.mdf;Integrated Security=True;User Instance=True;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfSalesArea.SalesService" behaviorConfiguration="WcfSalesArea.SalesServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WcfSalesArea.ISalesService">

          <!--Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.-->

          <identity>
            <dns value="localhost" />
          </identity>
          
        </endpoint>

        <!--<endpoint address=""
                  binding="webHttpBinding"
                  contract="WcfSalesArea.ISalesService"/>-->

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />


        <endpoint address="json"
                        behaviorConfiguration="jsonRestEndpointBehavior"
                        binding="webHttpBinding"
                        bindingConfiguration="newtonsoftJsonBinding"
                        contract="WcfSalesArea.ISalesService">

            <identity>
                <dns value="localhost"/>
            </identity>
        </endpoint>
          
        <host>
            <baseAddresses>
                <add baseAddress="http://localhost:52696/SalesService.svc"/>
            </baseAddresses>
        </host>

      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfSalesArea.SalesServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
          
      </serviceBehaviors>

    <endpointBehaviors>
        <behavior name="jsonRestEndpointBehavior">
            <webHttp/>
            <newtonsoftJsonBehavior/>
        </behavior>
    </endpointBehaviors>

    </behaviors>
    
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
      <bindings>
          <webHttpBinding>
              <binding name="newtonsoftJsonBinding" contentTypeMapper="WcfJsonFormatter.RawContentMapper, WcfJsonFormatter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </webHttpBinding>
      </bindings>

      <extensions>
          <behaviorExtensions>
              <add name="newtonsoftJsonBehavior" type="WcfJsonFormatter.WebHttpJsonBehaviorElement, WcfJsonFormatter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </behaviorExtensions>
      </extensions>
      
      
  </system.serviceModel>
 <system.webServer>
   
    <modules runAllManagedModulesForAllRequests="true"/>
    
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
