<?xml version="1.0"?>
<configuration>
    
    <configSections>
        <section name="serviceTypeRegister" type="WcfJsonFormatter.Configuration.ServiceTypeRegister, WcfJsonFormatter" />
    </configSections>

    <serviceTypeRegister>
        <serializer enablePolymorphicMembers="true" />
        <serviceTypes>
            <!--<serviceType name="PersistentLayer.Domain.CarContract" assembly="PersistentLayer.Domain" />
            <serviceType name="PersistentLayer.Domain.HomeContract" assembly="PersistentLayer.Domain" />-->
            <serviceType name="*" assembly="PersistentLayer.Domain" />
            <serviceType name="*" assembly="Iesi.Collections" />
        </serviceTypes>
        <resolverTypes>
            <resolverType>
                <serviceType name="Iesi.Collections.Generic.ISet`1" assembly="Iesi.Collections" />
                <binderType name="Iesi.Collections.Generic.HashedSet`1" assembly="Iesi.Collections" />
            </resolverType>
        </resolverTypes>
    </serviceTypeRegister>
    
  <connectionStrings>
    <add name="DatabaseConnection"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename={0}SalesArea.mdf;Integrated Security=True;User Instance=True;"
        providerName="System.Data.SqlClient" />
    <!--<add name="DatabaseConnection"
            connectionString="Server=(localdb)\v11.0;AttachDbFilename={0}SalesArea.mdf;Integrated Security=True;"
            providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
      
    <services>
      <service name="WcfSalesArea.SalesService" behaviorConfiguration="WcfSalesArea.SalesServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="basicHttpBindig"
                  contract="WcfSalesArea.ISalesService">

          <!--Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.-->

          <identity>
            <dns value="localhost" />
          </identity>
          
        </endpoint>

        <!--<endpoint address=""
                  binding="webHttpBinding"
                  contract="WcfSalesArea.ISalesService"/>-->

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />


        <endpoint address="json"
                        behaviorConfiguration="jsonRestEndpointBehavior"
                        binding="webHttpBinding"
                        bindingConfiguration="newtonsoftJsonBinding"
                        contract="WcfSalesArea.ISalesService">

            <identity>
                <dns value="localhost"/>
            </identity>
        </endpoint>
          
        <host>
            <baseAddresses>
                <add baseAddress="http://localhost:52696/SalesService.svc"/>
            </baseAddresses>
        </host>

      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfSalesArea.SalesServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <nhSessionBinder incomingAction="BindSession"
                           outgoingAction="UnbindSession"
                           providerType="WcfSalesArea.WcfServiceHolder, WcfSalesArea"
                           />
        </behavior>
          
      </serviceBehaviors>

    <endpointBehaviors>
        <behavior name="jsonRestEndpointBehavior">
            <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>
            <!--<enableWebScript />-->
            <newtonsoftJsonBehavior />
        </behavior>
    </endpointBehaviors>

    </behaviors>

    <standardEndpoints>
        <webScriptEndpoint>
            <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
        </webScriptEndpoint>
        <!--<webHttpEndpoint>
            <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </webHttpEndpoint>-->
    </standardEndpoints>
      
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <bindings>
        <basicHttpBinding>
            <binding name="basicHttpBindig">
                <!--<security mode="TransportCredentialOnly">
                    <transport clientCredentialType="Windows"/>
                </security>-->
            </binding>
            
        </basicHttpBinding>
        <webHttpBinding>
            <binding name="newtonsoftJsonBinding" crossDomainScriptAccessEnabled="true" contentTypeMapper="WcfJsonFormatter.RawContentMapper, WcfJsonFormatter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
                <!--<security mode="TransportCredentialOnly">
                    <transport clientCredentialType="Windows"/>
                </security>-->
            </binding>
        </webHttpBinding>
    </bindings>

    <extensions>
        <behaviorExtensions>
            <add name="newtonsoftJsonBehavior" type="WcfExtensions.Configuration.DefaultBehaviorExtensionElement`1[[WcfJsonFormatter.Ns.WebHttpJsonNetBehavior, WcfJsonNetFormatter]], WcfExtensions" />
            <add name="nhSessionBinder" type="WcfExtensions.Configuration.ActionServiceBehaviorElement`1[[WcfExtensions.ActionServiceBehavior, WcfExtensions]], WcfExtensions" />
        </behaviorExtensions>
    </extensions>
      
      
  </system.serviceModel>
 <system.webServer>
   
    <modules runAllManagedModulesForAllRequests="true"/>
      <!--<httpProtocol>
          <customHeaders>
              <add name="Access-Control-Allow-Origin" value="*" />
              --><!--<add name="Access-Control-Allow-Headers" value="Content-Type" />--><!--
          </customHeaders>
      </httpProtocol>-->

   <!--<httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
       <add name="Access-Control-Allow-Headers" value="Content-Type" />
     </customHeaders>
   </httpProtocol>-->

   <httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="http://localhost:9261" />
            <add name="Access-Control-Allow-Headers" value="Content-Type" />
        </customHeaders>
   </httpProtocol>

   <directoryBrowse enabled="true"/>
     
  </system.webServer>

</configuration>
