<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="serviceTypeRegister" type="WcfJsonFormatter.Configuration.ServiceTypeRegister, WcfJsonFormatter" />
    </configSections>

    <serviceTypeRegister>
        <serializer enablePolymorphicMembers="true" />
        <serviceTypes>
            <!--<serviceType name="PersistentLayer.Domain.CarContract" assembly="PersistentLayer.Domain" />
            <serviceType name="PersistentLayer.Domain.HomeContract" assembly="PersistentLayer.Domain" />-->
            <serviceType name="*" assembly="PersistentLayer.Domain" />
            <serviceType name="*" assembly="Iesi.Collections" />
        </serviceTypes>
        <resolverTypes>
            <resolverType>
                <serviceType name="Iesi.Collections.Generic.ISet`1" assembly="Iesi.Collections" />
                <binderType name="Iesi.Collections.Generic.HashedSet`1" assembly="Iesi.Collections" />
            </resolverType>
        </resolverTypes>
    </serviceTypeRegister>
    
</configuration>